.history-container {
  padding: 40px 0;
}

.history-list {
  border-radius: 12px;

  .history-row {
    display: flex;
    justify-content: space-between;
    padding: 14px;
    border-bottom: 1px solid #eee;
    transition: 0.2s;

    &:hover {
      background: #f8f8f8;
    }
  }
}