.setting-container {
  padding: 40px 0;
}

.settings-box {
  border-radius: 12px;

  .setting-row {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #eee;

    span {
      font-weight: 500;
    }
  }
}